<style>
  
.submenu {
  display: none;
}

.nav-item:hover .submenu {
  display: block;
}

</style>
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="/">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">

                        <style>
                          .logo_brandt {
                              width: 50px;
                              margin-left: 10px;
                              margin-top: 5px;
                            }
                        </style>
                        <img src="{{ config.ASSETS_ROOT }}/images/logo_brandt.png" alt="" class="logo_brandt">
                        <script src="https://kit.fontawesome.com/08d351cb4a.js" crossorigin="anonymous"></script>

                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">Brandt Meio Ambiente</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">            
            {% for i in config.SIDEBAR %}
              <li class="nav-item">
                <a class='sidebar-link' href="{{ i.href }}">
                  <span class="icon-holder">
                    <i class="{{ i.classe }}"></i>
                  </span>
                  <span class="title">{{ i.name }}</span>
                </a>
              </li>
            {% endfor %}

            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth6"
                aria-expanded="false" aria-controls="auth6">
                <span class="icon-holder">
                  <i class="fa-solid fa-seedling"></i>
                </span>
                <span class="title">Meio Físico</span>
              </a>
              <ul id="auth6" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li>
                  <a href="/MFNetproject" class="ml-3">Dados Netproject</a>
                </li>
                <li>
                  <a href="/MFAgenda" class="ml-3">Agenda</a>
                </li>
                <li>
                  <a href="/PowerBiMF" class="ml-3">Power Bi</a>
                </li>
                <li>
                  <a href="/CalendarioMF" class="ml-3">Calendário</a>
                </li>
                <li>
                  <a href="/Aquisicao/MF" class="ml-3">Aquisições</a>
                </li>
              </ul>
            </li>

            <li class="sidebar-item">
              <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth7"
                aria-expanded="false" aria-controls="auth7">
                <span class="icon-holder">
                  <i class="fa-solid fa-layer-group"></i>
                </span>
                <span class="title">Modelagens</span>
              </a>
              <ul id="auth7" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li>
                  <a href="/ModNetproject" class="ml-3">Dados Netproject</a>
                </li>
                <li>
                  <a href="/ModAgenda" class="ml-3">Agenda</a>
                </li>
                <li>
                  <a href="/PowerBiMod" class="ml-3">Power Bi</a>
                </li>
                <li>
                  <a href="/CalendarioMod" class="ml-3">Calendário</a>
                </li>
                <li>
                  <a href="/Aquisicao/Mod" class="ml-3">Aquisições</a>
                </li>
              </ul>
            </li>
        </div>
      </div>


      