{% extends "Arqueologia/base.html" %}


{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="bgc-deep-green-500 ta-c p-30">
  <h1 class="fw-300 mB-5 ">Demandas Agenda</h1>
</div>
<div class="col-lg-9">
  <a href="/CadArqNaoProgramadas" class="btn btn-info mb-1  p-2 mr-5">Cadastrar</a>
</div>
<main class=' bgc-grey-100'>
  


  <form action="">
    <div class="col-lg-6 d-flex mb-3">
    <label for="data_inicio ">Data Inicial:</label>
    <input type="date" name="data_inicio" class="col-lg-3 form-control ml-1">
    <label for="data_fim" class="ml-3">Data Final:</label>
    <input type="date" name="data_fim" class="col-lg-3 form-control ml-1">
    <button type="submit" class="ml-3 btn btn-info">Filtrar</button>
    
  </div>

  </form>
  <table class="mt-1 table table-striped table-bordered" id="tabela" style="width:80%">
    <thead>
        <tr>
            <th>Projeto</th>
            <th>Atividade Macro</th>
            <th>Atividade</th>
            <th>Colaborador Responsável</th>
            <th>Status</th>
            <th>Inicio real agenda</th>
            <th>Fim real agenda</th>
            <th>Data inicio Netproject</th>
            <th>Data fim Netproject</th>
            <th>Ação</th>

        </tr>
    </thead>
    <tbody>
              {% for rs in data %}
      {% for hora in rs.hora_real_usuario %}
      <tr>
        <td>{{ rs.projeto }}</td>
        <td>
          {% if hora.pai %}
          {{ hora.pai }}
          {% else %}
          {{ rs.titulo }}
          {% endif %}
        </td>
        <td>
          {% if hora.nom_projeto %}
          {{ hora.nom_projeto }}
          {% else %}
          {{ rs.atividade }}
          {% endif %}
        </td>
        <td>
          {% if hora.nom_usuario %}
          {{ hora.nom_usuario }}
          {% else %}
          {{ rs.responsavel }}
          {% endif %}</td>

        <td class="status" data-dth-fim="{{ rs.dth_fim }}">{{ rs.status }}</td>
        <td>{{ rs.dth_inicio }}</td>
        <td>{{ rs.dth_fim }}</td>

        <td> {% if hora.dth_inicio %}
          {{ hora.dth_inicio }}
          {% else %}
          {{ rs.dtinicionp }}
          {% endif %}</td>

        <td> {% if hora.dth_prevista %}
          {{ hora.dth_prevista }}
          {% else %}
          {{ rs.dtfimnp }}
          {% endif %}</td>
        <td>
              <div class="d-flex col-lg-3">
              <a href="edit_arq_agenda/{{rs.id}}" class="td-n mr-3"><i class="ti-pencil"></i></a>
              <a href="/delete/Arq/{{rs.id}}" class="td-n" onclick="return confirmDelete('{{rs.atividade}}')"><i class="fa-solid fa-trash"></i></a>
            </div>
            </td>
            

        </tr>
        {% endfor %}
                           {% endfor %}
    </tbody>
  </table>
  <script>
    $.fn.dataTable.moment('DD-MM-YYYY');

document.addEventListener("DOMContentLoaded", function() {
      const statusCells = document.querySelectorAll(".status");

      function parseDate(dateStr) {
        const [day, month, year] = dateStr.split("-");
        return new Date(year, month - 1, day);
      }

      const today = new Date();
      today.setHours(0, 0, 0, 0); 

      statusCells.forEach(cell => {
        const status = cell.textContent.trim();
        const dthFim = cell.getAttribute("data-dth-fim");
        const dthFimDate = parseDate(dthFim);

        if (status === "Concluído") {
    cell.style.color = "blue";
  } else {
    if (dthFimDate > today) {
      cell.style.color = "green";
    } else if (dthFimDate.getTime() === today.getTime()) {
      cell.style.color = "red";
    } else {
      cell.style.color = "orange";
    }
  }
      });
    });
        function confirmDelete(itemName) {
          var confirmar = confirm("Você tem certeza que deseja excluir " + itemName + "?");
          return confirmar;
      }
      $.fn.dataTable.moment('DD-MM-YYYY');

      $(document).ready(function() {
    $("#tabela").DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
      },
      dom: 'lBftip',
      buttons: [
        {
          extend: 'excelHtml5',
          text: 'Exportar Excel',
          className: 'btn btn-primary ml-2 ',
          exportOptions: {
            modifier: {
              page: 'current' 
            }
          },
          filename: 'Demandas_Agenda',
          title: null
        }
      ],
      pageLength: 10,
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
    });
  });
    </script>
</main>

{% endblock content %}
