{% extends "Arqueologia/base.html" %}


<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="bgc-deep-green-500 ta-c p-30">
  <h1 class="fw-300 mB-5 ">Demandas Netproject</h1>
</div>
<main class=' bgc-grey-100'>
  
  <form action="/ArqNetproject" method="get" onsubmit="saveFilters()">
    <div class="col-lg-6 d-flex mb-3">
    <label for="data_inicio">Data Inicial:</label>
    <input type="date" name="data_inicio" id="data_inicio" class="col-lg-3 form-control ml-1">
    <label for="data_fim" class="ml-3">Data Final:</label>
    <input type="date" name="data_fim"id="data_fim" class="col-lg-3 form-control ml-1">
    <button type="submit" class="ml-3 btn btn-info">Filtrar</button>
  </div>
  

  </form>

  <table class="mt-1 table table-striped table-bordered" id="tabela" style="width:80%">
    <thead>
        <tr>
            <th>Projeto</th>
            <th>Atividade Macro</th>
            <th>Atividade</th>
            <th>Colaborador Responsável</th>
            <th>Data inicio Netproject:</th>
            <th>Data fim Netproject:</th>
            <th>Horas Netproject</th>
            <th>Status Netproject:</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for rs in data %}
        <tr>
            <td>{{ rs.cod_projeto_alfa }}</td>
            <td>{{ rs.pai }}</td>
            <td>{{ rs.nom_projeto }}</td>
            <td>{{ rs.nom_usuario }}</td>
            <td>{{ rs.dth_inicio }}</td>
            <td>{{ rs.dth_prevista }}</td>
            <td>{{ '%.2f'|format(rs.total_horas_alocadas) }}</td>
            <td>          {% if rs.flg_status_projeto_raiz == '2' %}
              Em execução
            {% elif rs.flg_status_projeto_raiz == '1' %}
              Aguardando execução
            {% elif rs.flg_status_projeto_raiz == '3' %}
              Aguardando aceite  
            {% elif rs.flg_status_projeto_raiz == '6' %}
              Paralisado
            {% else %}
              {{ rs.flg_status_projeto_raiz }}
            {% endif %}</td>
            <td><a href="editarq/{{rs.id}}" class="td-n ml-4 "><i class="fa-solid fa-plus"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
<script>
    $.fn.dataTable.moment('DD-MM-YYYY');

  $(document).ready(function() {
    $("#tabela").DataTable({
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
      },
      dom: 'lBftip',
      buttons: [
        {
          extend: 'excelHtml5',
          text: 'Exportar Excel',
          className: 'btn btn-primary ml-2 ',
          exportOptions: {
            modifier: {
              page: 'current' 
            }
          },
          filename: 'Demandas_Netproject',
          title: null
        }
      ],
      pageLength: 10,
      lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]]
    });
  });

  function saveFilters() {
    const dataInicio = document.getElementById('data_inicio').value;
    const dataFim = document.getElementById('data_fim').value;
    localStorage.setItem('data_inicio', dataInicio);
    localStorage.setItem('data_fim', dataFim);
  }

  // Função para carregar os filtros do localStorage e redirecionar, se necessário
  function loadFilters() {
    const dataInicio = localStorage.getItem('data_inicio');
    const dataFim = localStorage.getItem('data_fim');

    // Verifica se a URL já tem os parâmetros
    const params = new URLSearchParams(window.location.search);
    const hasDataInicio = params.has('data_inicio');
    const hasDataFim = params.has('data_fim');

    // Se os parâmetros não estão presentes, redireciona para a URL correta
    if ((!hasDataInicio && dataInicio) || (!hasDataFim && dataFim)) {
      if (dataInicio) {
        params.set('data_inicio', dataInicio);
      }
      if (dataFim) {
        params.set('data_fim', dataFim);
      }
      const newUrl = `${window.location.pathname}?${params.toString()}`;
      window.location.replace(newUrl); // Redireciona para a nova URL
    } else {
      // Se os parâmetros estão presentes, aplica os valores nos campos
      if (dataInicio) {
        document.getElementById('data_inicio').value = dataInicio;
      }
      if (dataFim) {
        document.getElementById('data_fim').value = dataFim;
      }
    }
  }

  // Carregar os filtros ao carregar a página
  window.onload = loadFilters;

</script>
</main>

{% endblock content %}
