{% extends "Gestao/base.html" %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="bgc-deep-green-500 ta-c p-30">
  <h1 class="fw-300 mB-5 ">Demandas Agenda</h1>
</div>
<div class="col-lg-9">
  <a href="/CadGestaoNaoProgramadas" class="btn btn-info mb-1  p-2 mr-5">Cadastrar</a>
</div>
<main class='bgc-grey-100'>

  <form action="">
    <div class="col-lg-6 d-flex mb-3">
      <label for="data_inicio">Data Inicial:</label>
      <input type="date" name="data_inicio" class="col-lg-3 form-control ml-1">
      <label for="data_fim" class="ml-3">Data Final:</label>
      <input type="date" name="data_fim" class="col-lg-3 form-control ml-1">
      <button type="submit" class="ml-3 btn btn-info">Filtrar</button>
    </div>
  </form>

  <table class="mt-1 table table-striped table-bordered" id="tabela" style="width:80%">
    <thead>
      <tr>
        <th>Projeto</th>
        <th>Atividade Macro</th>
        <th>Atividade</th>
        <th>Colaborador Responsável</th>
        <th>Status</th>
        <th>Inicio real agenda</th>
        <th>Fim real agenda</th>
        <th>Data inicio Netproject</th>
        <th>Data fim Netproject</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody id="data-table">
      {% for rs in data %}
        {% if rs.hora_real_usuario %}
          {% for hora in rs.hora_real_usuario %}
            <tr>
              <td>{{ rs.projeto }}</td>
              <td>{{ hora.pai or rs.titulo }}</td>
              <td>{{ hora.nom_projeto or rs.atividade }}</td>
              <td>{{ hora.nom_usuario or rs.responsavel }}</td>
              <td class="status" data-dth-fim="{{ rs.dth_fim }}">{{ rs.status }}</td>
              <td>{{ rs.dth_inicio }}</td>
              <td>{{ rs.dth_fim }}</td>
              <td>{{ hora.dth_inicio or rs.dtinicionp }}</td>
              <td>{{ hora.dth_prevista or rs.dtfimnp }}</td>
              <td>
                <div class="d-flex col-lg-3">
                  <a href="edit_gestao_agenda/{{ rs.id }}" class="td-n mr-3"><i class="ti-pencil"></i></a>
                  <a href="delete_gestao_agenda/{{ rs.id }}" class="td-n" onclick="return confirmDelete('{{ rs.atividade }}')"><i class="fa-solid fa-trash"></i></a>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>{{ rs.projeto }}</td>
            <td>{{ rs.titulo }}</td>
            <td>{{ rs.atividade }}</td>
            <td>{{ rs.responsavel }}</td>
            <td class="status" data-dth-fim="{{ rs.dth_fim }}">{{ rs.status }}</td>
            <td>{{ rs.dth_inicio }}</td>
            <td>{{ rs.dth_fim }}</td>
            <td>{{ rs.dtinicionp }}</td>
            <td>{{ rs.dtfimnp }}</td>
            <td>
              <div class="d-flex col-lg-3">
                <a href="edit_gestao_agenda/{{ rs.id }}" class="td-n mr-3"><i class="ti-pencil"></i></a>
                <a href="delete_gestao_agenda/{{ rs.id }}" class="td-n" onclick="return confirmDelete('{{ rs.atividade }}')"><i class="fa-solid fa-trash"></i></a>
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const statusCells = document.querySelectorAll(".status");

      function parseDate(dateStr) {
        const [day, month, year] = dateStr.split("-");
        return new Date(year, month - 1, day);
      }

      const today = new Date();
      today.setHours(0, 0, 0, 0);

      statusCells.forEach(cell => {
        const dthFim = cell.getAttribute("data-dth-fim");
        const dthFimDate = parseDate(dthFim);

        if (dthFimDate > today) {
          cell.style.color = "green";
        } else if (dthFimDate.getTime() === today.getTime()) {
          cell.style.color = "red";
        } else {
          cell.style.color = "orange";
        }
      });
    });

    function confirmDelete(itemName) {
      return confirm("Você tem certeza que deseja excluir " + itemName + "?");
    }

    $(document).ready(function () {
      $("#tabela").DataTable({
        language: {
          url: "https://cdn.datatables.net/plug-ins/1.11.3/i18n/pt_br.json"
        }
      });
    });
  </script>
</main>

{% endblock content %}
