{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <form id="formAdd" action="/addNaoProgramadas/{{ hub_id }}" method="post" class="card p-4 shadow rounded-4 mx-auto" style="max-width: 700px;">
    <h3 class="text-center mb-4">Demanda Não Planejada - {{ hub_name }}</h3>

    <input type="hidden" name="hub_banco" value="{{ hub_banco_limpo.upper() }}">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="atividade" name="atividade" placeholder="Atividade" required>
      <label for="atividade">Atividade</label>
    </div>

    <div class="form-floating mb-3">
      <select class="form-select" id="status_projeto" name="status_projeto" required>
        <option value="" selected disabled>Tipo de atividade</option>
        <option value="Demanda não planejada">Demanda não planejada</option>
        <option value="Férias">Férias</option>
        <option value="Atestado médico">Atestado médico</option>
        <option value="Consultor externo">Consultor externo</option>
        <option value="Compensação">Compensação</option>
        <option value="Estagiário">Estagiário</option>
      </select>
      <label for="status_projeto">Tipo de atividade</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" list="responsavel" name="responsavel" class="form-control" placeholder="Colaborador" />
        <label for="responsavel">Colaborador Responsável</label>
        <datalist id="responsavel">
          {% for nome in colaboradores %}
            <option value="{{ nome }}">
          {% endfor %}

        </datalist>
      </div>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="projeto" name="projeto" placeholder="Projeto">
      <label for="projeto">Projeto</label>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="datareal" name="dth_inicio" required>
      <label for="datareal">Data Início</label>
    </div>

    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="dataFimReal" name="dth_fim" required>
      <label for="dataFimReal">Data Fim</label>
    </div>

    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="horas" name="horas" placeholder="Horas" required>
      <label for="horas">Horas</label>
    </div>

    <div class="form-floating mb-4">
        <select name="status_projeto" id="status_projeto" class="form-select">
          <option value="Aguardando Execução">Aguardando Execução</option>
          <option value="Revisão Cliente">Revisão Cliente</option>
          <option value="Em Execução">Em Execução</option>
          <option value="Paralisada">Paralisada</option>
          <option value="Revisão Brandt">Revisão Brandt</option>
          <option value="Concluído">Concluído</option>
          <option value="Cancelado">Cancelado</option>
          <option value="Não Programada">Não Programada</option>
        </select>
        <label for="status_projeto">Status</label>
      </div>

    <div class="form-floating mb-4">
      <input type="text" class="form-control" id="observacao" name="observacao" placeholder="Observação" required>
      <label for="observacao">Observação</label>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-lg px-5">Salvar</button>
    </div>
  </form>
</div>
{% endblock content %}
