{% extends "Geo/base_geo.html" %}

{% block content %}
<div class="col-lg-12  d-flex align-items-center justify-content-center">
    <form id="formAdd" action="/add/Geo" method="post" onsubmit="return validarHoras()" class="col-lg-6">

        <h2 class="mt-3 text-center">Cadastro Geointeligência</h2>

        <div class="mb-3">
            <label for="titulo">Atividade Macro:</label>
            <input type="text" name="titulo" placeholder="Título" class="form-control" value="{{demanda.pai}}" readonly>

        </div>

        <input type="text" name="cod_projeto" value="{{demanda.cod_projeto}}" hidden>
        <input type="text" name="hub_banco" value="GEOINTELIGENCIA" hidden>

        <div class="mb-3">
            <label for="responsavel">Colaborador Responsável:</label>
            <input type="text" name="responsavel" placeholder="Responsável" class="form-control"
                value="{{demanda.nom_usuario}}" readonly>
        </div>

        <div class="mb-3">
            <label for="projeto">Projeto:</label>
            <input type="text" name="projeto" placeholder="Projeto" class="form-control" value="{{demanda.cod_projeto_alfa}}"
                readonly>
        </div>

        <div class="mb-3">
            <label for="atividade">Atividade:</label>
            <input type="text" name="atividade" placeholder="Atividade" class="form-control"
                value="{{demanda.nom_projeto}}" readonly>
        </div>

        <div class="mb-3">
            <label for="projeto">Data Início Netproject:</label>
            <input type="date" name="dtinicionp" placeholder="Data início" class="form-control"
                value="{{demanda.dth_inicio}}" readonly>
        </div>

        <div class="mb-3">
            <label for="projeto">Data Início Real:</label>
            <input type="date" name="dth_inicio" id="datareal"placeholder="Data início" class="form-control" value="" required>
        </div>

        <div class="mb-3">
            <label for="projeto">Data Fim Netproject:</label>
            <input type="date" name="dtfimnp" placeholder="Data fim" class="form-control"
                value="{{demanda.dth_prevista}}" readonly>
        </div>

        <div class="mb-3">
            <label for="projeto">Data Fim Real:</label>
            <input type="date" name="dth_fim" placeholder="Data fim" id="dataFimReal" class="form-control" value="" required>
        </div>
        <div class="mb-3">
            <label for="projeto">Horas Netproject:</label>
            <input type="text" id="horasNoFix" name="horasNP" placeholder="Horas Netproject" class="form-control"
                value="" readonly>
        </div>

        <div class="mb-3">
            <label for="projeto">Horas Real:</label>
            <input type="text" name="horas" id="horas" placeholder="Horas" class="form-control" value="" required>
        </div>

        <div class="mb-3">
            <label for="projeto">Status:</label>
                <select name="status_projeto" id="status_projeto" class="form-control">
                    <option value="Aguardando Execução">Aguardando Execução</option>
                    <option value="Revisão Cliente">Revisão Cliente</option>
                    <option value="Em Execução">Em Execução</option>
                    <option value="Paralisada">Paralisada</option>
                    <option value="Revisão Brandt">Revisão Brandt</option>
                    <option value="Concluído">Concluído</option>
                    <option value="Cancelado">Cancelado</option>
                    <option value="Não Programada">Não Programada</option>
                </select>
        </div>

        <div class="col-lg-12">
            <input type="submit" value="Salvar" class="btn btn-primary mb-3 btn-lg">
        </div>
    </form>
</div>
{% endblock content %}

{% block javascripts %}
<script>

    $(document).ready(function(){
            // Convertendo demanda.horas_np para número e depois formatando para duas casas decimais
            var horasNPValue = parseFloat("{{ demanda.total_horas_alocadas }}").toFixed(2);
    
            // Atualizando o valor do input com id "horasNoFix" com o valor formatado
            document.getElementById("horasNoFix").value = horasNPValue;
        });
    
        var horasNPValue = parseFloat("{{ demanda.total_horas_alocadas }}").toFixed(2);
        var dataInicioNP = new Date("{{ demanda.dth_inicio }}");
        var dataFimNP = new Date("{{ demanda.dth_prevista }}");
    
        function validarHoras() {
            var horas = document.getElementById("horas").value;
            var dataFimReal = new Date(document.getElementById("dataFimReal").value);
    
            if (horas && horasNPValue && parseInt(horas) > parseInt(horasNPValue)) {
                alert("As horas não podem ser maiores do que as horas do projeto!");
                return false;
            }
    
    
            if (dataFimReal > dataFimNP) {
                alert("A data de fim real não pode ser maior do que a data de fim do Netproject!");
                return false;
            }
    
            return true;
        }
    </script>
{% endblock javascripts %}